* {
  margin: 0;
  padding: 0;
}
.container {
  /* border: 2px solid; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  grid-column: 2/3;
}
.box:hover {
  color: rgba(0, 0, 0, 0.546);
  background-color: rgba(65, 65, 65, 0.256);
}
.logo {
  height: 50px;
  margin-right: auto;
  border-radius: 3px;
}
.logo2 {
  border-radius: 25px;
}
.logo2:hover {
  scale: 1.1;
}
h1 {
  text-align: center;
  margin: 30px;
}
.reviews{
  width: 85px;
}
p {
  text-align: center;
  margin: 30px;
}
.main_button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mac_button {
  background-color: #16b2e1;
  border-style: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-size: 9px;
  font-weight: bolder;
  transition: scale 200ms ease-out;
  text-decoration: none;
}
.mac_button:hover {
  background-color: #057ca0;
  scale: 1.1;
  cursor: pointer;
}
.area {
  display: grid;
  grid-template-columns: 220px 220px 220px;
  grid-template-rows: 150px 150px 150px;
  justify-items: center;
  align-items: center;
}
.mainbox {
  display: flex;
  justify-content: center;
  margin: 50px 0 0 0;
}
.downloads {
  background-color: #f6f9f9;
  height: 120px;
  width: 200px;
  transition: scale 200ms ease-out;
  border-radius: 3px;
}
.downloads:hover {
  scale: 1.1;
}

.downloads div {
  display: flex;
  justify-content: space-around;
}
.downloads div .bit {
  font-size: 10px;
  padding: 5px;
  height: 25px;
  border-style: none;
  color: white;
  border-radius: 3px;
  font-weight: bolder;
  cursor: pointer;
}
.downloads div {
  object-position: bottom;
}
.languages {
  text-align: center;
  font-weight: bolder;
}
.sbit {
  background-color: #16b2e1;
}
.lbit {
  background-color: rgb(28, 207, 90);
}
.sbit:hover {
  background-color: #057ca0;
}
.lbit:hover {
  background-color: rgb(7, 148, 56);
}

@media screen and (max-width: 700px) {
  .area {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
}
.header {
  display: grid;
  grid-template-columns: 15% auto 15%;
}
a {
  color: white;
  text-decoration: none;
}
